<!-- <div *ngIf="xyz">
    <h1>Helooooooooooooooooo</h1>
</div>
<div>
        <ul *ngFor="let nam of names">
            <li>{{nam}}</li>
        </ul>    
</div>
=================
<div>
    <input type="text" #fruit>
    <input type="submit" value="ADD Fruit"  (click)="abc(fruit.value)">
   
    <ul *ngFor="let fruit of FRUITS">
        <li>{{fruit}}</li>
    </ul>
</div> -->

<div [ngClass]="{'bdr':true,'bgclr':true}">
     Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
    professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
</div>

<div [ngClass]="{'bdr':true,'bgclr':false}">
     Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
      Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
</div>

<div [ngClass]="{'bdr':false,'bgclr':true}">
     Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
     professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
     professional services partnership headquartered in London
     Ernst & Young Global Limited, trade name EY, is a multinational
</div>