<div style="text-align: center;">
   <h3>
    {{job}}<br>
    {{job | uppercase}}<br>
    {{job | lowercase}}<br>
    {{job | titlecase}}<br>
    <!-- slice , trim, splice  -->
    <hr>
    {{amount}}<br>
    {{amount |currency}}<br>
    
    {{amount |currency:'INR'}}<br>
    {{amount |currency:'JPY'}}<br>
    {{amount |currency:'EUR'}}<br>
    {{amount |currency:'USD'}}<br>
    <hr>
    {{d}}<br>
    
    {{d|date}}<br>
    {{d|date:'dd-MM-yyyy'}}<br>
    {{d|date:'MM-dd-yyyy'}}<br>
    {{d|date:'dd-MM-yy'}}<br>
   </h3>
    {{obj}}<br>
    {{obj|json}}<br>
</div>
